form.tagForm(action=(tag._id ? "/tags/"+tag.slug+"?_method=PUT" : "/tags") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
  input(type="hidden" name="slug" placeholder="slug" value=tag.slug maxLength="100")
  div
    input(type="text" name="title" placeholder="title" value=tag.title maxLength="80" required)
  div
    textarea(name="description" rows="6" placeholder="description" maxLength="200" required)= tag.description
  div
    button(type="submit") save