header.siteHeader
  

  ul.rightMenu
    if currentUser
      li
        span.dropdown
          a.item.handle(href="/users/" + currentUser.username)= currentUser.username
          span.menu
            a(href="/users/" + currentUser.username)= currentUser.username
            a(href="/users/" + currentUser.username + "/articles") My articles
            a(href="/users/" + currentUser.username + "/comments") My comments
            a(href="/users/" + currentUser.username + "/hubs") My hubs
            a(href="/settings") Settings
            a.js-button-logout(href="#") Logout
    else 
      li
        a.item(href="/auth/signin" rel="nofollow") Sign in      
      li
        a.item(href="/auth/signup" rel="nofollow") Sign up


  .logo
    a(href="/") GeekHubs.com

  ul.leftMenu
    li 
      a.item(href="/articles") Articles
    li 
      a.item(href="/hubs") Hubs
    li
      a.item(href="/users") Users
  