extends ../../layout

block head
  title= __('User\'s hubs')

block content
  if user.isDeleted
    include ../includes/deleted
  else
    include ../includes/user
    .userHubs
      include ../../hubs/includes/list