.pageTabs
  a.tab(href="/articles" class=subscription ? "" : "active") All article
  a.tab(href="/articles/subscription" class=subscription ? "active" : "") Subscription

nav
  a(href="/articles/new") Create article
