if currentUser
  .pageTabs
    .rightTabs
      a.btn.btn-action(href="/articles/new") Create article
    a.tab(href="/articles/subscription" class=subscriptions ? "active" : "") Subscription
    a.tab(href="/articles" class=subscriptions ? "" : "active") All articles
    
    
