form.commentForm(action="/?redirectTo=/"+parentId method="post")
  input(type="hidden" name="parentId" value=parentId placeholder="parentId")
  textarea(type="text" rows="1" name="content" placeholder="Type here" autofocus)
  noscript
    button(type="submit") submit