article(class="item_"+item._id)
  span= item.content
  .meta
    a.js-show-replies(href="/"+item._id title=__('Show replies for this comment'))= __n('%s replies', item.repliesCount)
    a.createdAt(href="/"+item._id title=moment(item.createdAt).calendar())= moment(item.createdAt).fromNow()
    if item.parentId !== 'root'
      a.parent(href="/"+item.parentId title=__("Go to parent comment")) parent
