doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')

  body
    .layout
      header
        a(href="/") Home
        a(href="/articles") Articles
        a(href="/tags") Tags
      block content
    script(src="/js/app.js")