doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')

  body
    .layout
      header
        a(href="/") Home
        a(href="/articles") Articles
        a(href="/tags") Tags
        a(href="/users") Users

        a(href="/users/register") Sign up
        a(href="/users/login") Sign in
      block content
    script(src="/js/app.js")