body {
  padding: 50px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.layout {
  max-width: 600px;
  margin: auto;
}
header {
  background: #f0f8ff;
  padding: 10px;
  margin: 0 0 20px;
}
a.loadmore {
  background: #f0f8ff;
  padding: 10px;
  display: block;
  margin: 10px 0;
}
form + article,
article + form,
article + article {
  border-top: 1px solid #eee;
}
article {
  padding: 1em 0;
  display: block;
  margin: 0px 0;
  font-size: 13px;
  line-height: 1.5em;
  color: #000;
}
article .content p:first-child,
article .content h1:first-child,
article .content > h2:first-child,
article .content > h3:first-child,
article .content > h4:first-child,
article .content > h5:first-child,
article .content > h6:first-child,
article .content > ul:first-child,
article .content > blockquote:first-child {
  margin-top: 0;
}
article .content p:last-child,
article .content h1:last-child,
article .content > h2:last-child,
article .content > h3:last-child,
article .content > h4:last-child,
article .content > h5:last-child,
article .content > h6:last-child,
article .content > ul:last-child,
article .content > blockquote:last-child {
  margin-bottom: 0.5em;
}
article .meta {
  margin: 5px 0 0;
  font-size: 12px;
}
article .meta a {
  color: #808080;
  display: inline-block;
  margin-right: 10px;
}
article .meta .hidden {
  display: none;
}
article .meta:hover .hidden {
  display: inline-block;
}
article .meta .createdAt,
article .meta .parent {
  color: #d3d3d3;
}
article span {
  display: block;
}
.replies {
  margin-left: 20px;
}
.commentForm {
  padding: 10px 0;
  margin: 0px 0;
}
.commentForm textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
  border: 1px solid #eee;
  resize: none;
  padding: 5px;
  font-size: 13px;
}
.commentForm textarea:focus {
  outline: none;
  border-color: #00b7ff;
}
