body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

header
  background #eee
  padding 10px
  margin 0 0 20px
  
a.loadmore
  background #eee
  padding 10px
  display block
  margin 10px 0
  
article
  //background #eee
  padding 10px
  display block
  margin 10px 0
  // outline 1px solid blue
  time
    // outline 1px solid red
    color #aaa
    display inline-block
    vertical-align top
    width 150px
  span
    // outline 1px solid red
    display inline-block
    vertical-align top
    
form 
  background #eee
  padding 10px
  margin 10px 0
  textarea
    display block
    width 100%
    box-sizing border-box 
    margin 0 0 10px
