body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

header
  background #eee
  padding 10px
  margin 0 0 20px
  
a.loadmore
  background #eee
  padding 10px
  display block
  margin 10px 0

article + article
  border-top 1px solid #eee  
article
  //background #eee
  padding 10px
  display block
  margin 0
  font-size 13px
  .meta
    margin 5px 0 0
    a
      text-decoration none
      color #aaa
      display inline-block
      font-size 12px
      padding 5px 0px
      margin-right 10px
      &:hover
        color red
    
      
    
  span
    // outline 1px solid red
    display block
    
form 
  background #eee
  padding 10px
  margin 10px 0
  textarea
    display block
    width 100%
    box-sizing border-box 
    margin 0 0 10px
