body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
  background: #eee;
  padding: 10px;
  margin: 0 0 20px;
}
article {
  outline: 1px solid #00f;
  position: relative;
}
article:before {
  font-size: 10px;
  padding: 0 5px;
  background: #00f;
  color: #fff;
  content: attr(class);
  position: absolute;
  right: 0;
  top: 0px;
  outline: 1px solid #00f;
}
a.loadmore {
  background: #eee;
  padding: 10px;
  display: block;
  margin: 10px 0;
}
article + article {
  border-top: 1px solid #eee;
}
article {
  padding: 10px;
  display: block;
  margin: 10px 0;
  font-size: 13px;
}
article .meta {
  margin: 5px 0 0;
}
article .meta a {
  text-decoration: none;
  color: #aaa;
  display: inline-block;
  font-size: 12px;
  padding: 5px 0px;
  margin-right: 10px;
}
article .meta a:hover {
  color: #f00;
}
article span {
  display: block;
}
.replies {
  margin-left: 20px;
}
form {
  background: #f0f8ff;
  outline: 1px solid #00f;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
form:before {
  position: relative;
}
form:before {
  font-size: 10px;
  padding: 0 5px;
  background: #00f;
  color: #fff;
  content: attr(action);
  position: absolute;
  right: 0;
  top: 0px;
  outline: 1px solid #00f;
}
form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
}
form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
}
