fontsize1 = 14px
fontsize2 = 22px
fontsize3 = 13px
fontsize4 = 28px
fontfamily1 = "Lucida Grande", Helvetica, Arial, sans-serif

@import '_variables'
@import 'selectize'
@import 'buttons'
@import 'code'
@import 'comments'
@import 'articles'
@import 'users'
@import 'tags'
@import 'forms'


body
  padding 50px
  font-size fontsize1 
  font-family fontfamily1

*
  box-sizing border-box
  
hr
  border 0
  margin 1em 0
  padding 0
  height 1px 
  background #eee
a
  color #00B7FF
  text-decoration none
  &:hover
    text-decoration underline

.layout
  max-width 800px
  margin auto
footer
  margin 50px 0 0
  height 300px
  border-top 1px solid #eee
  color #ccc
header
  background aliceblue
  padding 10px
  margin 0 0 20px
  overflow hidden
  .logo
    float left
    font-size 1.2em
    a
      color #333
      font-weight bold
  .leftMenu
    float left
  .rightMenu
    float right
  ul
    margin 0
    paddin 0
    list-style none
    li
      margin 0 10px
      paddin 0
      display inline-block
  a + a
    display inline-block
    margin-left 20px
