.commentsList
  margin 2em 0
.comment + .comment
  margin-top 2em
.comment
  
  .content
    line-height 1.5em
    font-size fontsize1
    
  .meta
    margin-top 1em
    font-size fontsize3
    color grey
    text-transform lowercase
    a
      color grey