.commentsList
  outline 1px solid #eee
.comment + .comment
  margin-top 10px
.comment
  
  //.content
    
  .meta
    margin-top 1em
    font-size fontsize3
    color grey
    text-transform lowercase
    a
      color grey