.pageTabs
  border-bottom 1px solid #eee
  margin-bottom 20px
  height 29px
  .rightTabs
    float right
  .tab
    font-size fontsize3
    font-weight bold
    position relative
    bottom -1px
    display inline-block
    border-top 1px solid transparent
    border-left 1px solid transparent
    border-right 1px solid transparent
    border-bottom 1px solid transparent
    border-top-left-radius 5px
    border-top-right-radius 5px
    padding 5px 15px 
    cursor pointer
    color grey
    &.active
      color #333
      border-top 1px solid #eee
      border-left 1px solid #eee
      border-right 1px solid #eee
      border-bottom 1px solid #fff
    