.user
  h1
    font-size fontsize4
  h2
    font-size fontsize2
  h1, 
  h2
    a.username
      color #333
    a.edit      
      font-weight normal
      margin-left 10px
      font-size 10px
      vertical-align super
  .meta
    margin-top 1em
    font-size fontsize3
    color grey
    text-transform lowercase
    a
      color grey