aside#sidebar
  section
    display block
  section + section
    margin-top 20px
    
  section.banner
      height 500px
      line-height 500px
      text-align center
      background #eee
      color #ccc
      font-size 40px