form.hubForm(action=(hub._id ? "/hubs/"+hub.slug+"?_method=PUT" : "/hubs") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
  div
    input(type="text" name="title" placeholder=__("Hub name") value=hub.title maxLength="80" required autofocus)
  div
    textarea(name="description" rows="6" placeholder=__("Hub description") maxLength="200")= hub.description
  div
    button(type="submit")= __('save')