if currentUser
  span.subscriptionBtn(class=isSubscribed(hub) ? 'subscribed' : '')
    button.btn.unsubscribe.js-hub-unsubscribe(data-url="/hubs/"+hub.slug+"/unsubscribe") unsubscribe
    button.btn.btn-action.subscribe.js-hub-subscribe(data-url="/hubs/"+hub.slug+"/subscribe") subscribe