if currentUser
  .pageTabs
    .rightTabs
      a.btn.btn-action(href="/hubs/new") Create hub
    a.tab(href="/hubs/subscription" class=subscriptionPage ? "active" : "") Subscription
    a.tab(href="/hubs" class=subscriptionPage ? "" : "active") All hubs

    
    
