section.subscription
  padding 20px 
  background deeppink
  color white
  .successSubscriptionForm
    margin-top 20px
  p
    margin 0
    font-size 13px
  form
    margin 20px 0 0
  .btn.btn-submit
    background-color deepskyblue
  &.subscribed
    background #eee
    color grey
    