section.topArticles
  padding 0px
    
  ol
    margin 0
    padding 0
    padding-left 2em
    overflow hidden
    
    li + li
      margin-top 1em
    li
      margin 0
      paddin 0
      line-height 1.5em
      color grey
      font-size 12px
      
      
      
      a.articleTitle
        font-weight bold
        color #333
        &:visited
          color grey
      a.commentsCount
        color grey
      a
        color grey
      